.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
}

.input {
    all: unset;
    border: 0.2rem solid #27bcfc;
    border-radius: 0.5rem;
    width: 40%;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: #fff;
    transition: 0.3s;
}

.input:focus {
    background-color: #27bcfc93;
}

.button {
    all: unset;
    border-radius: 0.3rem;
    padding: 0.5rem;
    transition: 0.3s;
    font-size: 1.5rem;
    border: 0.2rem solid #1f2937;
    background-color: #1f2937;
    cursor: pointer;
    width: 40%;
    text-align: center;
    color: #57ddd5;
}

.button:hover {
    border-color: #57ddd5;
}

.topPara,
.description,
.teamDesc {
    font-size: 1.5rem;
    text-align: justify;
    margin: 0 2rem;
}

.topPara {
    margin: 0 4rem;
}

.teamDesc {
    margin: 0 10rem;
}

.aboutSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 0 2rem;
}

.aboutSubsection {
    width: 70%;
}

.image {
    border-radius: 1rem;
}

.bigImage {
    display: block;
}

.smallImage {
    display: none;
}

.teamSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teamDescription {
    font-size: 1.5rem;
    margin: 0 2rem;
    color: #57ddd5;
    background-color: #1f2937;
    width: fit-content;
    text-align: center;
    padding: 0.1rem 1rem;
    line-height: 0.5;
    border-radius: 0.5rem;
}

.textLink {
    border: 0.2rem solid #1f2937;
    border-radius: 0.3rem;
    padding: 0 0.4rem;
    transition: 0.3s;
    color: #57ddd5;
    background-color: #1f2937;
}

.textLink:hover {
    border-color: #57ddd5;
}

@media (max-width: 1100px) {
    .aboutSection {
        flex-direction: column;
    }

    .aboutSubsection {
        width: 100%;
        margin-top: 2rem;
    }
}

@media (max-width: 900px) {
    .input,
    .button {
        width: 80%;
    }
}

@media (max-width: 700px) {
    .title {
        font-size: 2rem;
    }

    .topPara,
    .description,
    .teamDescription,
    .teamDesc {
        font-size: 1rem;
        margin: 0 1rem;
    }

    .input,
    .button {
        font-size: 1.2rem;
    }

    .bigImage {
        display: none;
    }

    .smallImage {
        display: block;
    }
}
